@tailwind base;
@tailwind components;
@tailwind utilities;

.make_them_center {
  width: 20%;
  margin:auto;
}
.hotel{
  background-image: url("./assets/hotel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(42, 48, 41, 0.867);
}
.centralize_it {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mobile__view {
  display: none;
}
@media screen and (max-width: 600px) {
  .mobile_visiblity{
    /*  */
  }
  .menu_function {
    position: absolute;
    top: 15px;
    right:15px;
  }
}

@media screen and (max-width: 500px) {
    .small_screen {
      text-align: center;
      margin:auto;
  }
  .footer_social_media { 
    width: 70%;
    margin:auto;
  }
  }

  