@tailwind base;
@tailwind components;
@tailwind utilities;

.make_them_center {
  width: 20%;
  margin: auto;
}
.hotel{
  background-image: url("./assets/hotel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(42, 48, 41, 0.867);
}
.centralize_it {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mobile__view {
  display: none;
}

.slider_image {
  width: 100%;
  height: 900px;
  margin: auto;
}
.slider {
  width: 100%;
  margin: auto;
  position: relative;
  height: 100%;
}
.text_slider {
  position: absolute;
  top: 100px;
  text-align: center;
}

/* .search_plane {
  position: absolute;
  top: 750px;
  left: 115px;
} */

@media screen and (max-width: 600px) {
  .mobile_visiblity {
    /*  */
  }
   
  .slider {
    width: 100%;
    margin: auto;
    position: relative;
    height: 100%;
  }
  .text_slider {
    position: absolute;
    top: 200px;
  }
  .relative_post {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .text_slider {
    position: absolute;
    top: 2px;
    font-size: 20px;
  }
  .menu_function {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .slider_image {
    height: 500px;
  }
}
@media screen and (max-width: 500px) {
  .small_screen {
    text-align: center;
    margin: auto;
    align-items: center;
  }
  .footer_social_media {
    width: 70%;
    margin: auto;
  }

  .slider_image {
    height: 400px;
  }

  .text_slider {
    top: 20px;
    text-align: center;
    line-height: 1.2;
    
  }
}
